.character-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    margin: 8px;
    text-align: center;
    background-color: #0b1de4;
}

.character-card-header {
    cursor: pointer;
}

.character-details {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
}

.character-card-list {
    list-style-type: none;
    margin-top: 8px;
    text-align: left;
}